.answer-show-header {
  width: 100%;
  // cursor: pointer;
  height: 100%;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  @include themify($themes) {
    background: themed('background');
    box-shadow: 0px 0px 3px 3px themed('shadow');
  }
  background-position: center center;
  background-size: contain;
  &__user {
    @include flex-center();
    border: none;
    cursor: pointer;
    &-image {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: 38px;
      height: 38px;
      padding: 6px;
    }
    &-title {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      word-wrap: break-word;
      white-space: pre-wrap;
      padding: 6px;
      padding-left: 12px;
      text-align: left;
      @include FS(FM);
      @include LH(FM);
      @include FM(FB);
      @include themify($themes) {
        color: themed('backgroundContrastLight');
      }
    }
  }
  &__border {
    width: calc(100% -20px);
    margin: 0 auto;
    margin-bottom: 22px;
    height: 4px;
    @include themify($themes) {
      background: themed('subThick2');
    }
  }
  &__title {
    width: calc(100% -20px);
    margin: 8px auto;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    @include FS(M);
    @include LH(M);
    @include FM(B);
    @include themify($themes) {
      color: themed('subThick2');
    }
  }
  &__text {
    width: calc(100% -20px);
    margin: 0 auto;
    padding-top: 4px;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    @include FS(FM);
    @include LH(FM);
    @include FM(B);
    @include themify($themes) {
      color: themed('backgroundContrastLight');
    }
  }
}
