@import "./variables";
@import "./layout";

$themes: (
  original: (
    background: $color-white,
    backgroundContrast: $color-dark-blue-thick, //$color-black,
    backgroundContrastLight: $color-dark-blue, //$color-light-black
    backgroundLight: $color-light-gray,
    backgroundThick: $color-dark-blue-light, //$color-gray
    backgroundBlur: $blur-black,
    backgroundClear: $color-clear-white,
    base: $color-sky,
    subThick: $color-blue,
    subThick2: $color-thick-blue,
    subLight: $color-thick-emerald,
    subLight2: $color-emerald,
    sub: $color-blue,
    complementary: $color-brown,
    border: $color-light-gray,
    itemBorder: darken($color-light-gray, 8%),
    shadow: $color-clear-gray,
    string: $color-black,
    alert: $color-red,
    cheering: $color-pastel-red,
    complementaryString: $color-white,
    gradationR: $color-thick-blue,
    gradationL: $color-sky,
    gradationThickR: $color-blue,
    gradationThickL: $color-thick-blue,
    transparent: $color-transparent,
    success: $color-green,
    warning: $color-yelow,
    danger: $color-red,
    info: $color-blue,
    sidebar: $color-dark-blue-thick,
    sidebarItem: $color-dark-blue,
    sidebarHighlight: $color-dark-blue-light,
    sidebarString: $color-gray-white,
  ),
);

$themes-key: (
  background: "background",
  backgroundClear: "backgroundClear",
  backgroundContrast: "backgroundLight",
  backgroundLight: "backgroundLight",
  backgroundThick: "backgroundThick",
  backgroundBlur: "backgroundBlur",
  base: "base",
  sub: "sub",
  complementary: "complementary",
  border: "border",
  shadow: "shadow",
  strongShadow: "strongShadow",
  string: "string",
  redString: "redString",
  blueString: "blueString",
  labelColor: "labelColor",
  complementaryString: "complementary",
  gradationL: "gradationL",
  gradationR: "gradationR",
  complementaryGradationL: "complementaryGradationL",
  complementaryGradationR: "complementaryGradationR",
  subGradationL: "subGradationL",
  subGradationR: "subGradationR",
  transparent: "transparent",
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}


.theme-original {
  background-color: $color-white;
  color: $color-black;
  @include MQ(M) {
    background-color: $color-white;
  }
}
// .theme-light {
//   background-color: $white;
//   color: $color-text-dark;
//   @include MQ(M) {
//     background-color: $color-background-off-white;
//   }
// }
// .theme-dark {
//   background-color: $color-background-dark;
//   color: $color-text-white;
// }
