
// global color
$color-white: #fff;
$color-clear-white: rgba(255,255,255,0.7);
$color-black: #000;
$color-light-black: #313131;
$blur-black: rgba(0,0,0,0.5);
$color-clear-black: rgba(0,0,0,0.3);
$color-light-gray: #F4F4F4;
$color-clear-gray: #E1E1E1;
$color-gray: #666666;
$color-green: #27E8B3;
$color-red: #ff0264;
$color-pastel-red: #ff555e;
$color-yelow: #FFDA0D;
$color-transparent: transparent;

// main color
$color-sky: #58E7FF;
$color-blue: #46A5E8;
$color-thick-blue: #4D86FF;
$color-thick-emerald: #46E8D4;
$color-emerald: #4DFFB7;

$color-brown: #C77E1A;
$color-thick-brown: #B35F1B;
